body {
  --nord-color-red: 191, 97, 90;
  --nord-color-yellow: 235,203,139;
  --nord-color-green: 163, 190, 140;
  --nord-color-orange: 208,135,112;
  --nord-color-purple: 180, 142, 173;
  --nord-color-cyan: 136, 192, 208;
  --nord-color-blue: 129, 161, 193;

  --callout-border-width:  0 0 0 4px;
  --callout-border-opacity:  0.5;
  --callout-padding: 0;
  --callout-title-padding:  var(--size-4-4) var(--size-4-4);
  --callout-content-padding:  var(--size-4-1) var(--size-4-4);
}
.callout-title{
	gap: var(--size-4-2);
	background-color: rgba(var(--callout-color), 0.5);
}
.callout-title-inner {
  color: var(--text-normal);
}

.callout[data-callout="definition"] {
    --callout-color: var(--nord-color-orange);
    --callout-icon: diamond;
}

.callout[data-callout="lemma"] {
    --callout-color: var(--nord-color-green);
    --callout-icon: award;
}

.callout[data-callout="theorem"] {
    --callout-color: var(--nord-color-green);
    --callout-icon: trophy;
}

.callout[data-callout="corollary"] {
    --callout-color: var(--nord-color-blue);
    --callout-icon: corner-down-right;
}

.callout[data-callout="proof"] {
    --callout-color: var(--nord-color-purple);
    --callout-icon: edit-3;
}

.callout[data-callout="summary"] {
    --callout-color: var(--nord-color-yellow);
    --callout-icon: check-circle;
}

.callout[data-callout="example"] {
    --callout-color: 150,150,150;
    --callout-icon: glasses;
}

.callout[data-callout="problem"] {
    --callout-color: 255,255,255;
    --callout-icon: question;
	--callout-border-width: 1px;
	border-color: black;
  	--callout-border-opacity:  1;
}

.callout[data-callout="warning"] {
    --callout-color: var(--nord-color-yellow);
	--callout-icon: lucide-alert-triangle;

}
